juriBot/__pycache__/core.cpython-310.pyc
juriBot/__pycache__/models.cpython-310.pyc
juriBot/__pycache__/tools.cpython-310.pyc
juriBot/.env
populateDB
populateDB 
streamLitFront/__pycache__/juriBotClient.cpython-310.pyc
streamLitFront/__pycache__/juryBotClient.cpython-310.pyc
vectorSimilarityAPI/dat 
vectorSimilarityAPI/data 
